@page "/"

<h1>How to Modal</h1>

I would like to share with the community how to modal without javascript.
<hr />

<button @onclick="()=>modal1.ShowModal()" class="btn btn-primary">Show Modal 1</button>
<button @onclick="()=>modal2.ShowModal()" class="btn btn-primary">Show Modal 2</button>
<button @onclick="()=>modal3.ShowModal()" class="btn btn-primary">Show Modal 3</button>
<button @onclick="()=>modal4.ShowModal(someData)" class="btn btn-primary">Show Modal 4</button>
<button @onclick="()=>modal4.ShowModal(someData2)" class="btn btn-primary">Show Modal 5</button>

<hr />

<StackFlare />
<br />
<em>Enjoy!</em>


<Modal @ref="@modal1" OnClose="Modal1Closed">
    <MyModalContent />
</Modal>

<Modal @ref="@modal2" Background="#0088ff77" BlurPixels="15" AllowBackgroundClick="false">
    <div class="modal-content shadow-lg">
        <div class="modal-header">
            <h5 class="modal-title">Weather Forecast</h5>
            <ModalCloseButton type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </ModalCloseButton>
        </div>
        <div class="modal-body">
            <FetchData />
        </div>
        <div class="modal-footer">
            <div class="text-info"><small>This modal will not close by clicking outside the modal</small></div>
            <ModalCloseButton type="button" class="btn btn-secondary" aria-label="Close">Close</ModalCloseButton>
        </div>
    </div>
</Modal>

<Modal @ref="@modal3" Background="#0000ff77" BlurPixels="3">
    <BounceDemo BoxColor="#00ff00" BallColor="#ff00ff" />
</Modal>

<TemplateModal @ref="@modal4" TContent="SomeDataModel" OnClose="Modal4Closed" Background="#ffa50077" BlurPixels="3">
    <div class="modal-content shadow-lg in">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <ModalCloseButton type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </ModalCloseButton>
        </div>
        <div class="modal-body">
            <input type="text" @bind="@context.Name" />
        </div>
        <div class="modal-footer">
            <ModalCloseButton type="button" class="btn btn-secondary" aria-label="Close">Close</ModalCloseButton>
            <ModalOkButton type="button" class="btn btn-secondary" aria-label="Save Changes">Save Changes</ModalOkButton>
        </div>
    </div>
</TemplateModal>